.green {
    color: white;
    border-radius: 50%;
    border: 1px solid #1ebb09;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    background-color: black;
    margin: 15px 8px;
    text-align: center;
    padding: 1px;
    cursor: pointer;
   
}
.blue {
    color: white;
    border-radius: 50%;
    border: 1px solid blue;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    background-color: black;
    margin: 15px 8px;
    text-align: center;
    padding: 1px;
    cursor: pointer;
}
.red {
    color: white;
    border-radius: 50%;
    border: 1px solid red;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    background-color: black;
    margin: 15px 8px;
    text-align: center;
    padding: 1px;
    cursor: pointer;
}
.purple {
    color: white;
    border-radius: 50%;
    border: 2px solid purple;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    background-color: black;
    margin: 15px 8px;
    text-align: center;
    padding: 1px;
    cursor: pointer;
}
.yellow {
    color: white;
    border-radius: 50%;
    border: 2px solid yellow;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    background-color: black;
    margin: 15px 8px;
    text-align: center;
    padding: 1px;
    cursor: pointer;
}
.orange {
    color: white;
    border-radius: 50%;
    border: 2px solid orange;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    background-color: black;
    margin: 15px 8px;
    text-align: center;
    padding: 1px;
    cursor: pointer;
}
.brown {
    color: white;
    border-radius: 50%;
    border: 2px solid brown;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    background-color: black;
    margin: 15px 8px;
    text-align: center;
    padding: 1px;
    cursor: pointer;
}
.pink {
    color: white;
    border-radius: 50%;
    border: 2px solid pink;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    background-color: black;
    margin: 15px 8px;
    text-align: center;
    padding: 1px;
    cursor: pointer;
}
.numbers {
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    background-color: black;
    margin: 15px 8px;
    text-align: center;
    padding: 2px;
    opacity: 0.6;
    cursor: pointer;
    
}
.expected-number{
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    background-color: black;
    margin: 15px 8px;
    text-align: center;
    padding: 2px;
}