.col-lg-6 {
    padding: 10px;
}
.number-table {
    border: 1px solid white;
    box-shadow: 0 0 0 8px #717171;
    height: 500px;
    margin-left: 100px;
    background-color: #202020;
    padding: 10px;
    display: flex;
}
.all-numbers {
    border: 1px solid #717171;
    width: 52%;
    padding: 30px 5px;
    text-align: center;
    position: relative;
}